@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i,700,700i');

* {
    box-sizing: border-box;
}

body {
    font-family: "open sans", Helvetica, Arial, sans-serif;
    background-color: #ccdcec;
}

.content {
    display: grid;
    grid-template-columns: 80% 20%;
}

.gifs {
    height: 200px;
    float: left;
}
